<html>
  <head>
    <title><%= title %></title>   
    <!-- inject:css -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- endinject  -->
    <!-- inject:js -->
    <!-- endinject  -->
    
    <!-- bower:css -->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />
    <!-- endbower -->
    <!-- bower:js -->
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <!-- endbower -->
  </head>
  <body>
    <header class="navbar navbar-bright navbar-fixed-top" role="banner">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".nav-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand">Home</a>
        </div>
        <nav class="collapse navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">
                <% for (var i=0; i<nav.length;i++) { %>
                    <li> <a href="<%=nav[i].Link%>"> <%=nav[i].Text %> </a></li>
                <%} %>                        
            </ul>
        </nav>
      </div>
    </header>
    <h3> <%= title %></h3>
    <div class="row"> 
                <br>
                <div class="col-md-2 col-sm3 text-center">
                  Sing In
                  <form name="signInForm" action="/Auth/signIn" method="post">
                    <input name="userName" id="userName">
                    <input name="password" id="password">
                    <input type="submit" id="Sign In" value="Sign In">
                  </form>
                </div>
                <div class="col-md-10 col-sm-3 text-center">
                  Sign Up
                  <form name="signupForm" action="/Auth/signUp" method="post">
                    <input name="userName" id="userName">
                    <input name="password" id="password">
                    <input type="submit" id="Sign Up" value="Sign Up">
                  </form>
                </div>
    </div>

  </body>
</html>
